
#--------//--------
#Env variables para o backend/ folder

#secret key para jwt
SECRET_KEY=
#mongo uri para db connection
MONGO_URI=mongodb://mongo:27017/weather-app
#nome, email e senha para user padrão
STANDARD_USER_NAME=user
STANDARD_USER_EMAIL=user@email.com
STANDARD_USER_PASSWORD=Teste12345!
#Key da conexão com o groq
GROQ_API_KEY= 
#porta do API server
PORT=3002

#--------//--------
#Env variables para o frontend/ folder

#porta da API
VITE_API_URL=http://localhost:3002

#--------//--------
#Env variables para o go-worker/ folder

#configs do rabbit
RABBIT_MQ_PORT=5672
RABBIT_MQ_QUEUE=data_queue
RABBIT_MQ_HOST=rabbitmq
#configs da API do backend/
API_HOST=api
API_PORT=3002

#--------//--------
#Env variables para o python-collector/ folder

#key para conexão com a openweather
OPENWEATHER_API_KEY=
#latitude e longitude para coleta de dados (centro de Belo Horizonte)
OPENWEATHER_API_LAT=-19.93
OPENWEATHER_API_LON=-43.94
#configs do Rabbit
RABBIT_MQ_PORT=5672
RABBIT_MQ_QUEUE=data_queue
RABBIT_MQ_HOST=rabbitmq
